/*
 * Footer SCSS
 * ---------------------------
 * This is the scss file to control the styles of the footer.
 * Most of the "settings" are at the top, but dig around to change more specific things.
 * The Color settings are at the top, but any other specific edits will need scss editing.
 * This does follow mobile first design, so to edit tablet +, make sure you edit past the media query.
 *
*/

/* Color Settings */
$background-color: #b57a55;
$color: #eeeeee;

/*
 * General Settings
 * --------------
 * Remember, mobile first.
 *
 */
.footer {
  background-color: $background-color;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.footer ul,
.footer li,
.footer a {
  display: inline;
}

.footer a:hover {
  text-decoration: underline;
}

.menu-footer-column-1-container {
  display: inline;
}
